<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="com.sandigital.sharepoint.dal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="com.sandigital.sharepoint.dal.Properties.Settings.EmbratelConnectionString"
            connectionString="Data Source=Localhost;Initial Catalog=Embratel;Persist Security Info=True;User ID=wss"
            providerName="System.Data.SqlClient" />
        <add name="com.sandigital.sharepoint.dal.Properties.Settings.GIRConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=GIR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <com.sandigital.sharepoint.dal.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>St</value>
            </setting>
            <setting name="Setting1" serializeAs="String">
                <value>kkk</value>
            </setting>
        </com.sandigital.sharepoint.dal.Properties.Settings>
    </userSettings>
</configuration>